body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 0px 192px 96px;
}

.header > .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.links {
    gap: 24px;
}

.text-and-button {
    width: 480px;
}

.main-title {
    font-size: 48px;
    font-weight: bolder;
}

.main-text {
    color: #E5E7EB;
    margin: 12px 0px;
}

button {
    border: 2px solid #3882f6;
    border-radius: 8px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 4px 22px;
    flex: none;
}

.header > .content > img {
    width: 480px;
}

.information {
    display: flex;
    flex-direction: column;
    color: #1f2937;
    padding: 48px 0px 96px;
}

.info-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    padding: 0px 0px 48px 0px;
}

.info-content {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.info-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-text {
    width: 150px;
    text-align: center;
    padding: 8px 0px 0px 0px;
}

.info-image > img {
    width: 150px;
    border: solid #3882f6 4px;
    border-radius: 16px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.quote-section {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    padding: 96px 384px;
    gap: 24px;
}

.quote-source {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

.call-to-action {
    padding: 96px 192px;
    color: f9faf8;
}

.call-to-action > .content {
    background-color: #3882f6;
    padding: 48px 96px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    font-size: 24px;
    font-weight: bold;
}

.call-to-action > .content > button {
    border-color: #f9faf8;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px;
}